.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/headerImg.png') no-repeat;
    background-size: cover;
    position: relative;
}

.header-cont {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    /* animation: fadeIn 3s; */
    h1 {
        font-weight: 500;
        color: rgb(0, 0, 0);
        font-size: max(4.5vw, 22px);
    }
    button {
        border: none;
        color: black;
        font-weight: 500;
        padding: 1vw 2vw;
        background-color: white;
        font-size: max(1vw, 13px);
        border-radius: 50px;
        cursor: pointer;
    }
}

.header-text {
    animation: bounce 2s ease infinite;
    display: inline-block; 
}

@media (max-width:1050px) {

    .header-cont {
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-cont {
        max-width: 65%;
        button {
            padding: 2vw 4vw;
            font-size: max(1vw, 10px);
        }
    }
}